* {
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Poppins", sans-serif; 
    background-color: #292b2c;
}


.login {
    height: 92vh;
    padding: 80px 80px 40px 80px;
    z-index: 99;
}

.input {
    border-bottom: 1px solid #61d559;
    line-height: 35px;
    padding:5px 15px;
    margin-top: 30px;
    outline: none;
    color: #f5f5f5;
}

.label {
    position: relative;
    top: -33px;
    transition: 0.5s;
    color: #f5f5f5;
    font-weight: 500;
}

.input:focus + .label, .input:valid + .label {
    transform: translateY(-40px);
    outline: none;
    font-size: 13px;
}

#register-btn {
    width: 70%;
    align-self: center;
    border: 0;
    border-radius: 20px;
    transition: 0.5s;
    padding: 8px;
    text-align: center;
    margin-top: 25px;
    background-color: #757575;
    font-weight: 600;
}

#register-btn::placeholder {
    color: #f5f5f5;
}

#register-btn:hover {
    background-color: #61d559;

}